* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.fly {
  position: relative;
  top: -1000px;
  animation: fly-in 2s forwards;
}

@keyframes fly-in {
  100% {
    top: 300px;
  }
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -130%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

p {
  display: inline-block;
  padding: 10px;
}

img {
  width: 300px;
  height: 250px;
  display: inline;
  padding: 5px;
}

img:hover {
  animation: ease-in-out;
}

.content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.fly2 {
  position: relative;
  top: -1000px;
  animation: fly-in 1s forwards;
}

@keyframes fly-in {
  100% {
    top: 400px;
  }
}
